/* styles.css */


/* color sheet 
        med green: #CCD5AE
        light green: #E9EDC9
        egg white: #FEFAE0
        tan: #FAEDCD
        light brown: #D4A373
        dark brown: #7f5539
        dark green; #6b705c
        */

body {
    background-color: #CCD5AE; /* Light gray background */
    color: #343a40; /* Dark gray text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title h1 {
    color: #67704b; /* Blue header text color */
    font-weight: bold;
    font-size: 50px;
}

#title a {
    color: #2a7a3d; /* Green link color */
    text-decoration: none;
}

#about {
    background-color: #ffffff; /* White background */
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

h2 {
    color: #7f5539; /* Blue section title color */
}

hr {
    border: 1px solid #b4b79c; /* Blue horizontal line */
}

#artifacts {
    margin-top: 30px;
}

#project1,
#project2,
#project3 {
    background-color: #ffffff; /* White background */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

#project1 img,
#project2 img,
#project3 img {
    border-radius: 5px; /* Rounded corners for project images */
}

/* Add this CSS to your existing styles.css */

nav.navbar {
    background-color: #5f4b3f; /* Blue background color */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fef4eb !important; /* White text color */
}

.navbar-toggler-icon {
    background-color: #930d74; /* White color for the toggle icon */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: #b52c2c !important; /* White text color */
}

.navbar-nav .nav-link:hover {
    color: #1b94bc !important; /* White text color on hover */
    text-decoration: underline;
}

footer {
    background-color: #343a40; /* Dark gray background color */
    padding: 20px 0; /* Add some padding to the top and bottom */
    color: #ffffff; /* White text color */
}

.footer-link {
    color: #8eff51; /* Green link color */
    text-decoration: none;
    margin: 0 10px; /* Add some spacing between links */
}

.footer-link:hover {
    color: #1b94bc; /* Blue text color on hover */
}