/* Define color variables */
:root {
    --med-green: #CCD5AE;
    --light-green: #E9EDC9;
    --egg-white: #FEFAE0;
    --tan: #FAEDCD;
    --light-brown: #D4A373;
    --dark-brown: #7f5539;
    --dark-green: #6b705c;
}

/* Global styles */
body {
    background-color: var(--med-green);
    color: #343a40; /* Dark gray text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Title section */
#title h1 {
    color: #67704b; /* Blue header text color */
    font-weight: bold;
    font-size: 50px;
}

/* About section */
#about {
    background-color: #ffffff; /* White background */
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    text-align: center;
}

h2 {
    color: var(--dark-brown); /* Blue section title color */
}

hr {
    border: 1px solid #b4b79c; /* Blue horizontal line */
}

p {
    padding: 30px;
}

/* Artifacts section */
#project1,
#project2,
#project3 {
    background-color: #ffffff; /* White background */
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

#project1 img,
#project2 img,
#project3 img {
    border-radius: 5px; /* Rounded corners for project images */
}

/* Navbar styles */
.navbar {
    background-color: #5f4b3f; /* Original background color */
}


.navbar-brand,
.navbar-nav .nav-link {
    color: #fef4eb !important; /* White text color */
}

.navbar-toggler {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* White text color */
}

.navbar-nav .nav-link:hover {
    color: var(--light-brown) !important; /* White text color on hover */
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #3d4332; /* Dark gray background color */
    padding: 30px 0; /* Add some padding to the top and bottom */
    color: #ffffff; /* White text color */
}

.footer-link {
    color: #8eff51; /* Green link color */
    text-decoration: none;
    margin: 0 10px; /* Add some spacing between links */
}

.footer-link:hover {
    color: #1b94bc; /* Blue text color on hover */
}
