/* Define color variables */
:root {
    --med-green: #CCD5AE;
    --light-green: #E9EDC9;
    --egg-white: #FEFAE0;
    --tan: #FAEDCD;
    --light-brown: #D4A373;
    --dark-brown: #7f5539;
    --dark-green: #6b705c;
}

/* For webkit-based browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    border-radius: 8px; /* Curvature of the scrollbar */
    height: 500px; /* Height of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--med-green); /* Color of the track */
    border-radius: 8px; /* Curvature of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c78272; /* Color of the scrollbar handle */
    border-radius: 8px; /* Curvature of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b47468; /* Color of the scrollbar handle on hover */
  }
  
/* Global styles */
body {
    background-color: var(--med-green);
    color: #343a40; /* Dark gray text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Title section */
#title h1 {
    color: #67704b; /* Blue header text color */
    font-weight: bold;
    font-size: 50px;
}

#title a {
    color: #fffffd; /* Green link color */
    text-decoration: none;
}

/* About section */
#about {
    background-color: #ffffff; /* White background */
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    text-align: center;
}

h2 {
    color: var(--dark-brown); /* Blue section title color */
}

hr {
    border: 1px solid #b4b79c; /* Blue horizontal line */
}

p {
    padding: 30px;
}

/* Artifacts section */
#artifacts {
    margin-top: 30px;
}
.smaller-image {
    max-width: 200px; /* Adjust the width as needed */
}

#project1,
#project2,
#project3 {
    background-color: #ffffff; /* White background */
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    position: relative; /* Ensure z-index works properly */
    z-index: 1; /* Ensure projects are above parallax background */
}



#project1 img,
#project2 img,
#project3 img {
    border-radius: 5px; /* Rounded corners for project images */
}


#about img {
    border: 5px solid var(--dark-brown); /* Add a solid border with the desired color */
    border-radius: 50%; /* Make the border circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}


/* Navbar styles */
nav.navbar {
    background-color: #5f4b3f; /* Blue background color */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fef4eb !important; /* White text color */
}

.navbar-toggler {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* White text color */
}

.navbar-nav .nav-link:hover {
    color: var(--light-brown) !important; /* White text color on hover */
    text-decoration: underline;
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 35px;
    background-color: white;
    animation: blink .6s linear infinite alternate;
}

/* Footer styles */
footer {
    background-color: #3d4332; /* Dark gray background color */
    padding: 30px 0; /* Add some padding to the top and bottom */
    color: #ffffff; /* White text color */
}

.footer-link {
    color: #8eff51; /* Green link color */
    text-decoration: none;
    margin: 0 10px; /* Add some spacing between links */
}

.footer-link:hover {
    color: #1b94bc; /* Blue text color on hover */
}

/* Other sections */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text within its container */
    padding-right: 30px;
}

.content {
    background-color: var(--med-green); /* Light gray background */
    padding-top: 25vh; /* Height of parallax image */
}

.profile-photo {
    flex: 0 0 auto; /* This makes the photo not grow or shrink */
    margin-left: 30px;
}

.profile-photo img {
    border-radius: 30%; /* Makes the image round */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
    height: auto; /* Allows the image to scale proportionally */
    border: 5px solid #2e1c10;
}

.about-text {
    flex: 1; /* This makes the text fill the available space */
}

.skills {
    background-color: #ffffff; /* White background */
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

#skills h2 {
    color: var(--dark-brown); /* Brown section title color */
}

#skills hr {
    border: 1px solid #b4b79c; /* Brown horizontal line */
}

#skills ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
}

#skills ul li {
    color: #343a40; /* Dark gray text color */
    font-weight: bold;
    margin-bottom: 10px; /* Add some spacing between skills */
}

.navbar-shadow {
    box-shadow: 0 4px 10px -6px black;
    transition: box-shadow 0.3s ease-in-out;
}

.footer-icons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-icons li {
    margin-right: 10px; /* Adjust spacing between icons */
}

.footer-icons li:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

.footer-icons a {
    color: #fffef7;
    font-size: 24px;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #5f4b3f !important; /* Change to your desired color */
    border-color: #4e3d33 !important; /* Change to your desired color */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-primary {
    background-color: #c78272;
    border-color: #b57668;
}

.btn-primary:hover {
    background-color: #d99383;
    border-color: #c38577;
}

/* Parallax image */
.parallax {
    background-image: url("../Extra/images/Screenshot\ .png");
    height: 25vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 5px;
   
}

/* For smaller screens */
@media (max-width: 768px) {
    .parallax {
        height: 20vh; /* Adjust the height as needed for smaller screens */
    }
}

/* For even smaller screens */
@media (max-width: 576px) {
    .parallax {
        height: 15vh; /* Adjust the height as needed for even smaller screens */
    }
}


#art-title {
    color: var(--dark-brown); /* Brown section title color */
    background-color: antiquewhite;
    margin-top: 45px;
    background-size: 20px 20px 20px 20px;
}


/* Slideshow container */
.carousel {
    margin-top: 20px; /* Adjust margin as needed */
   
}

/* Slides */
.carousel-item img {
    width: 100%;
    border-radius: 10px; /* Add rounded corners to images */
    height: 30%;
}

/* Navigation arrows */
.carousel-control-prev,
.carousel-control-next {
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    font-size: 30px;
    color: #000; /* Adjust arrow color */
}

/* Active arrow color */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #ad0000; /* Adjust hover color */
}

/* Indicator dots */
.carousel-indicators li {
    background-color: #c60000; /* Inactive dot color */
}

.carousel-indicators .active {
    background-color: #000; /* Active dot color */
}
/* Smaller Carousel */
#carouselExampleSlidesOnly {
    max-width: 600px; /* Adjust as needed */
    width: 100%; /* Ensure the carousel takes up the available width */
    margin: 0 auto; /* Center the carousel */
}

/* Resize Carousel Images */
/* Override Bootstrap's default image styles */
#carouselExampleSlidesOnly img {
    max-width: 100%; /* Ensure images adjust within the carousel container */
    height: auto; /* Maintain aspect ratio */
}


@media (min-width: 992px) {
    #video-and-images .col-lg-6 {
        display: flex;
        align-items: center;
    }

    /* Style the video container */
    #video-and-images video {
        width: 100%;
        border-radius: 10px; /* Rounded corners */
        overflow: hidden; /* Hide overflowing content (e.g., rounded corners) */
    }
}

/* Hide default video controls */
#video-and-images video::-webkit-media-controls {
    display: none !important;
}

/* Style the images */
#video-and-images img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add margin between images */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for the 360 video container */
#video-section .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Aspect ratio (9:16) */
    border-radius: 10px; /* Rounded corners */
}

/* Style for the iframe */
#video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove border */
}

#project1 .col-6 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

#project1 img {
    max-width: 80%; /* Ensure images adjust within the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin between images */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.download-btn {
    padding-bottom: 10px; /* Adjust the padding as needed */
    margin-bottom: 20px;
}

#project2 .col-lg-4.order-lg-2 img {
    max-width: 100%; /* Ensure images adjust within the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin between images */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}



/* Widget section styles */
.widget-section {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
    border-radius: 10px; /* Add rounded corners to images */
}

.widget-section p {
    margin: 0; /* Remove default margin for the paragraph */
    font-size: 20px; /* Adjust the font size as needed */
    color: #a58686; /* Adjust text color */
    font-weight: bolder;
}

.widget-section iframe {
    border: none; /* Remove border from the iframe */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    border-radius: 10px; /* Add rounded corners to the iframe */
}

/* Hover effect for widget section */
.widget-section:hover {
    background-color: #a58686;  /* Change background color on hover */
    margin-left: 1px;
}
.widget-section:hover p {
    color: #ffffff; /* Change text color on hover */
}
/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .widget-section {
        justify-content: center;
        flex-direction: column;
    }

    .widget-section p {
        margin-bottom: 10px; /* Add margin below the paragraph */
    }

    .widget-section iframe {
        margin: 10px 0; /* Add margin above and below the iframe */
    }
}


/* Custom styling for the custom popup modal */
.modal-content {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    color: #333;
}

.modal-body p {
    color: #555;
}

/*typing animation for title*/
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.typing-animation {
    animation: typing 1s steps(30, end) forwards;
}
